.container {
	padding: 7px;
}

.container > .header {
	display: block;
	position: relative;
	top: 0px;
	width: 100%;
	min-height: 21px;
}

.container > .footer {
	display: block;
	position: relative;
	bottom: 0px;
	width: 100%;
	min-height: 77px;
}

.container > .grid {
	display: table;
	
	width: 100%;
}

.grid > .row {
	display: table-row;
	
	width: 100%;
}

.row > .cell {
	display: table-cell;
}
 .cell.c1 {width:10%;}
 .cell.c2 {width:20%;}
 .cell.c3 {width:30%;}
 .cell.c4 {width:40%;}
 .cell.c5 {width:50%;}
 .cell.c6 {width:60%;}
 .cell.c7 {width:70%;}
 .cell.c8 {width:80%;}
 .cell.c9 {width:90%;}
.cell.c10 {width:100%;}